* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(248, 245, 245);
}

header {
  background-color: #000000;
  width: 100%;
  height: auto;
  clear: both;
  font-size: 12px;
  position: fixed;
  z-index: 2;
}

header .logo {
  width: 35px;
  float: left;
  margin-left: 1rem;
  margin-top: 2.5px;
}

header nav a {
  text-decoration: none;
  color: #b3b3b3;
  letter-spacing: 1.5px;
}

#barra ul li {
  list-style: none;
  margin-left: 5px;
  float: left;
  padding: 13px;
  border-right: 1.5px solid rgba(255, 255, 255, 0.2);
}

#barra li a:hover {
  color: white;
}

#acceso ul li {
  list-style: none;
  margin-left: 5px;
  float: right;
  padding: 10px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.2);
}

#acceso li a:hover {
  color: white;
}

header .user {
  margin-right: 1rem;
}

.tml a {
  margin-left: 10px;
}

.idioma a::before {
  content: "🇪🇸";
  padding-right: 3px;
}

.user a::before {
  content: "👤";
  padding-right: 3px;
}

header .rrss {
  font-size: 20px;
  padding: 10px;
  gap: 10px;
}

i {
  color: #b3b3b3;
  margin-left: 10px;
}

.hamburger .fa-solid {
  font-size: 20px;
  margin: 10px 5px;
}

.fa-solid {
  font-size: 12px;
  margin-left: 0;
}

.hamburger {
  color: #b3b3b3;
  float: right;
}

.fa-solid:hover {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  color: #000;
  opacity: 60%;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 1;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
}

.background {
  background-image: url(assets/img/tml\ fondo\ 2.png);
  background-size: cover;
  height: 500px;
  border-top-style: solid;
  border-top-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 30px 20px 0 20px;
  justify-content: center;
}

.item {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.item img {
  border-radius: 15px;
  margin: 0 10px 5px 10px;
  width: 447px;
}

section ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

section li {
  margin: 0px 10px;
  list-style-type: none;
}

li a {
  color: #b3b3b3;
  text-decoration: none;
}

li a:hover {
  color: #fff;
}

#camping {
  margin-bottom: 10px;
}

.campsite li {
  background-color: #000000;
  color: #b3b3b3;
  border-radius: 5px;
  width: 180px;
  padding: 3px;
  font-weight: bold;
}

#oferta {
  margin-bottom: 20px;
}

.precios li {
  width: 160px;
  padding: 3px;
}

.precios li::before {
  content: "✈️";
}

.tooltip {
  position: relative;
  text-decoration: none;
}

.tooltip:hover {
  text-decoration: underline;
}

.tooltip-box {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #000000;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 65%;
}

.tooltip-box-et {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #000000;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 65%;
}

.tooltip-box-montagoe {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #000000;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 65%;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}
.tooltip:hover .tooltip-box-et {
  display: inline-block;
}

.tooltip:hover .tooltip-box-montagoe {
  display: inline-block;
}

#boton_compra {
  margin-bottom: 20px;
}

button {
  background-color: #000;
  color: rgb(255, 145, 0);
  border-radius: 10px;
  font-weight: bolder;
}

button:hover {
  color: #f8f4f4;
}

.trailer {
  display: flex;
  justify-content: center;
  background-image: url(assets/img/Fondo_iframe.png);
  background-size: cover;
  height: 415px;
  bottom: 220px;
}

iframe {
  border-radius: 30px;
  align-self: center;
}
h2 {
  padding: 20px 0px 10px;
  text-align: center;
}

h3 {
  padding-bottom: 10px;
  text-align: center;
}

form {
  padding-bottom: 20px;
  text-align: center;
}

input {
  height: 20px;
}

.enviar {
  background-color: rgb(91, 175, 249);
  color: #fff;
  width: 60px;
}

.enviar:hover {
  font-weight: bolder;
}

@media screen and (max-width: 375px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  #barra ul li:nth-child(3) {
    display: none;
  }

  #barra ul li:nth-child(4) {
    display: none;
  }

  #barra ul li:nth-child(5) {
    display: none;
  }

  #barra ul li:last-child {
    display: none;
  }

  .item {
    justify-content: space-between;
    width: 100%;
  }

  .item img {
    width: 90%;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 10px;
  }

  header .rrss {
    font-size: 8px;
    padding: 2.5px;
    gap: 2.5px;
  }

  button {
    font-size: 8px;
    width: 70px;
    height: 20px;
    padding: 3px;
  }

  .tooltip-box {
    left: -2%;
    bottom: 75px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .tooltip-box-et {
    left: -22%;
    bottom: 75px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .tooltip-box-montagoe {
    left: -15%;
    bottom: 77px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }
}

@media screen and (min-width: 376px) and (max-width: 570px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  #barra ul li:nth-child(3) {
    display: none;
  }

  #barra ul li:nth-child(4) {
    display: none;
  }

  #barra ul li:nth-child(5) {
    display: none;
  }

  #barra ul li:last-child {
    display: none;
  }

  .item {
    justify-content: space-between;
    width: 100%;
  }

  .item img {
    width: 90%;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 10px;
  }

  header .rrss {
    font-size: 8px;
    padding: 2.5px;
    gap: 2.5px;
  }

  button {
    font-size: 8px;
    width: 70px;
    height: 20px;
    padding: 3px;
  }

  .tooltip-box {
    left: -2%;
    bottom: 80px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .tooltip-box-et {
    left: -17%;
    bottom: 75px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .tooltip-box-montagoe {
    left: -15%;
    bottom: 80px;
    width: 100px;
    padding: 0;
    font-size: 7px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }
}
@media screen and (min-width: 570px) and (max-width: 710px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  .item {
    /*background-color: green;*/
    justify-content: space-between;
    width: 100%;
  }

  .item img {
    width: 90%;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  #barra ul li:last-child {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  header .rrss {
    font-size: 15px;
    padding: 5px;
    gap: 5px;
  }

  button {
    font-size: 10px;
    width: 90px;
    height: 25px;
    padding: 3px;
  }

  .tooltip-box {
    left: 3%;
    bottom: 53px;
    width: auto;
  }

  .tooltip-box-et {
    left: -30%;
    bottom: 53px;
    width: 138px;
  }

  .tooltip-box-montagoe {
    left: -2%;
    bottom: 53px;
    width: 138px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }
}

@media screen and (min-width: 710px) and (max-width: 950px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  .item {
    /*background-color: red;*/
    justify-content: center;
    width: 100%;
  }

  .item img {
    width: 93%;
  }

  .hamburger {
    display: block;
  }

  button {
    font-size: 12px;
    width: 110px;
    height: 25px;
    padding: 3px;
  }

  .tooltip-box {
    left: 10%;
    bottom: 50px;
    width: auto;
  }

  .tooltip-box-et {
    left: 0%;
    bottom: 50px;
    width: auto;
  }

  .tooltip-box-montagoe {
    left: -3%;
    bottom: 50px;
    width: auto;
  }
}

@media screen and (min-width: 950px) and (max-width: 1280px) {
  .item {
    /*background-color: red;*/
    justify-content: center;
    width: 100%;
  }

  .item img {
    width: 93%;
  }

  .hamburger {
    display: none;
  }

  button {
    font-size: 12px;
    width: 110px;
    height: 25px;
    padding: 3px;
  }

  .tooltip-box {
    left: 10%;
    bottom: 50px;
    width: auto;
  }

  .tooltip-box-et {
    left: 0%;
    bottom: 50px;
    width: auto;
  }

  .tooltip-box-montagoe {
    left: -3%;
    bottom: 50px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .item {
    /* background-color: blue;*/
    justify-content: center;
    width: 100%;
  }

  .item img {
    width: 96%;
  }

  .hamburger {
    display: none;
  }

  button {
    font-size: 12px;
    width: 130px;
    height: 25px;
    padding: 3px;
  }

  .tooltip-box {
    left: -73%;
    bottom: 50px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -189%;
    bottom: 50px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -107%;
    bottom: 50px;
    width: 390px;
  }
}

footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.8em;
  color: #b3b3b3;
}

footer p span {
  border-left: 1.5px solid #b3b3b3;
  padding: 4px;
}

* {
  outline: 1px solid red;
}
