* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: rgb(248, 245, 245);
}

header {
  background-color: #000000;
  width: 100%;
  height: 40px;
  clear: both;
  font-size: 12px;
  position: fixed;
  z-index: 2;
}

header .logo {
  width: 35px;
  float: left;
  margin-left: 1rem;
  margin-top: 2.5px;
}

header nav a {
  text-decoration: none;
  color: #b3b3b3;
  letter-spacing: 1.5px;
}

#barra ul li {
  list-style: none;
  margin-left: 5px;
  float: left;
  padding: 13px;
  border-right: 1.5px solid rgba(255, 255, 255, 0.2);
}

#barra li a:hover {
  color: white;
}

#acceso ul li {
  list-style: none;
  margin-left: 5px;
  float: right;
  padding: 10px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.2);
}

#acceso li a:hover {
  color: white;
}

header .user {
  margin-right: 1rem;
}

.tml a {
  margin-left: 10px;
}

.idioma a::before {
  content: "🇪🇸";
  padding-right: 3px;
}

.user a::before {
  content: "👤";
  padding-right: 3px;
}

header .rrss {
  font-size: 20px;
  padding: 10px;
  gap: 10px;
}

.fa-brands:hover{
  color: #fff;
}

i {
  color: #b3b3b3;
  margin-left: 10px;
}

.hamburger .fa-solid {
  font-size: 20px;
  margin: 10px 5px;
}

.fa-solid {
  font-size: 12px;
  margin-left: 0;
}

.hamburger {
  color: #b3b3b3;
  float: right;
}

.fa-solid:hover {
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  color: #000;
  opacity: 60%;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 1;
}

p {
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
}

.background {
  background-image: url(assets/img/tml\ fondo\ 2.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  border-top-style: solid;
  border-top-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

section ol {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px 0 20px 0;
  flex-wrap: wrap;
}

ol .mag1 {
  text-align: center;
  width: 400px;
  height: 469px;
  /*border: 2px solid #000;*/
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow:5px 5px 20px;
 }

 ol .mag1:hover{
  box-shadow: 5px 5px 30px;
 }

 ol .mag1 a{
  display: inline-block;
  width: 200px;
  padding: 5px;
  background-color: #000000;
  margin: 10px;
  border-radius: 10px;
 }

 ol .mag1 p{
  font-size: 16px;
  width: 220px;
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
 }

 ol .mag2 {
  text-align: center;
  width: 400px;
  height: 469px;
  /*border: 2px solid #000;*/
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow:5px 5px 20px;
 }

 ol .mag2:hover{
  box-shadow: 5px 5px 30px;
 }

 ol .mag2 a{
  display: inline-block;
  width: 200px;
  padding: 5px;
  background-color: #000000;
  margin: 10px;
  border-radius: 10px;
 }

 ol .mag2 p{
  font-size: 16px;
  width: 220px;
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
 }

 ol .mag3 {
  text-align: center;
  width: 400px;
  height: 469px;
  /*border: 2px solid #000;*/
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow:5px 5px 20px;
 }

 ol .mag3:hover{
  box-shadow: 5px 5px 30px;
 }

 ol .mag3 a{
  display: inline-block;
  width: 200px;
  padding: 5px;
  background-color: #000000;
  margin: 10px;
  border-radius: 10px;
 }

 ol .mag3 p{
  font-size: 16px;
  width: 220px;
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
 }

section li {
  margin: 0px 10px;
  list-style-type: none;
}

li img {
  width: 400px;
  border-radius: 15px;
}

li a {
  color: #b3b3b3;
  text-decoration: none;
}

li a:hover {
  color: #fff;
}

.montagoe::before {
  content: "✈️";
}

.et::before {
  content: "✈️";
}

.mg::before {
  content: "✈️";
}

.tooltip {
  position: relative;
  text-decoration: none;
}

.tooltip:hover {
  text-decoration: underline;
}

.tooltip-box {
  display: none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px;
  opacity: 75%;
}

.tooltip-box-et {
  display: none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px;
  opacity: 75%;
}

.tooltip-box-montagoe {
  display: none;
  position: absolute;
  padding: 5px 10px;
  border-radius: 15px;
  width: 400px;
  opacity: 75%;
}

.tooltip-box-montagoe img{
  height: 270px;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}
.tooltip:hover .tooltip-box-et {
  display: inline-block;
}

.tooltip:hover .tooltip-box-montagoe {
  display: inline-block;
}

button {
  background-color: #000;
  color: rgb(255, 145, 0);
  border-radius: 10px;
  font-weight: bolder;
  display: inline-block;
  width: 140px;
  height: 30px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 20px;
}

button:hover {
  color: #f8f4f4;
}

.trailer {
  display: flex;
  justify-content: center;
  background-image: url(assets/img/Fondo_iframe.png);
  background-size: cover;
  height: 415px;
  bottom: 220px;
}

iframe {
  border-radius: 30px;
  align-self: center;
}

h2 {
  padding: 20px 0px 10px;
  text-align: center;
}

h3 {
  padding-bottom: 10px;
  text-align: center;
}

form {
  padding-bottom: 20px;
  text-align: center;
}

input {
  height: 20px;
}

.enviar {
  background-color: rgb(91, 175, 249);
  color: #020202;
  width: 60px;
}

.enviar:hover {
  color: #fff;
  font-weight: bolder;
}

@media screen and (max-width: 375px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  #barra ul li:nth-child(3) {
    display: none;
  }

  #barra ul li:nth-child(4) {
    display: none;
  }

  #barra ul li:nth-child(5) {
    display: none;
  }

  #barra ul li:last-child {
    display: none;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 10px;
  }

  header .rrss {
    font-size: 8px;
    padding: 2.5px;
    gap: 2.5px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
}

@media screen and (min-width: 376px) and (max-width: 570px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  #barra ul li:nth-child(3) {
    display: none;
  }

  #barra ul li:nth-child(4) {
    display: none;
  }

  #barra ul li:nth-child(5) {
    display: none;
  }

  #barra ul li:last-child {
    display: none;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 25px;
  }

  p {
    font-size: 10px;
  }

  header .rrss {
    font-size: 8px;
    padding: 2.5px;
    gap: 2.5px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
}

@media screen and (min-width: 570px) and (max-width: 710px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #barra ul li:last-child {
    display: none;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  header .rrss {
    font-size: 15px;
    padding: 5px;
    gap: 5px;
  }

  .enviar {
    margin-top: 10px;
  }

  input {
    margin-top: 10px;
  }
  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
}

@media screen and (min-width: 710px) and (max-width: 950px) {
  header #acceso {
    display: none;
  }

  header > div {
    display: none;
  }

  .hamburger {
    display: block;
  }
  
  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
}

@media screen and (min-width: 950px) and (max-width: 1280px) {

  .hamburger {
    display: none;
  }

  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
  
}

@media screen and (min-width: 1280px) { 

  .hamburger {
    display: none;
  }

  .tooltip-box {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-et {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }

  .tooltip-box-montagoe {
    left: -55%;
    bottom: 33px;
    width: 390px;
  }
}

footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.8em;
  color: #b3b3b3;
}

footer p span {
  border-left: 1.5px solid #b3b3b3;
  padding: 4px;
}

/* {
  outline: 1px solid red;
}
